<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
	<add key="IsSanbox" value="1" />
	<!--<add key="ALConexion" value="RjVTQ0o2M0cwWjdGUWh0NEpBdE9qR1NZdDBucFRlTWo6QWlmSWplNHpFdkZxa0x3Tw==" />
	<add key="UrlTokenTest" value="https://altanredes-prod.apigee.net/v1/oauth/accesstoken?grant-type=client_credentials" />
	<add key="UrlTokenProd" value="https://altanredes-prod.apigee.net/v1/oauth/accesstoken?grant-type=client_credentials" />
	<add key="UrlBaseTest" value="https://altanredes-prod.apigee.net/cm-sandbox" />
	<add key="UrlBaseProd" value="https://altanredes-prod.apigee.net/cm" />-->

	<add key="ALConexion" value="NDFaT044M05NeGpGMnBLWVZwVklnRVFCUkY5S3FhYTAzWXFuTGRFVlN0TTV5VEJLOnUyN3ZRM1dtOTY1Z0dBUlhxd212ekJoUEdreHVMbkZIVFpLMkRkRmg5YmU5U3JKZDVwQVdMR0loRjFSRlRHeUQ=" />
	<add key="UrlTokenTest" value="https://apigee-prod.altanredes.com/v1/oauth/accesstoken?grant-type=client_credentials" />
	<add key="UrlTokenProd" value="https://apigee-prod.altanredes.com/v1/oauth/accesstoken?grant-type=client_credentials" />
	<add key="UrlBaseTest" value="https://apigee-prod.altanredes.com/cm-sandbox" />
	<add key="UrlBaseProd" value="https://apigee-prod.altanredes.com/cm" />

	<add key="host" value="smtp.hostinger.com" />
	<add key="port" value="587" />
	<add key="userName" value="c.anaya@tecomnet.mx" />
	<add key="userPassword" value="Gfv456yh54o2#" />
  </appSettings>
</configuration>